.dropdown-menu {
  position: relative;
  display: inline-block;
}

span {
  margin-left: 3px;
  font-size: .5rem;
}

button {
  padding: 10px 15px;
  background-color: #fff;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: .8rem;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.11);
}

button:focus {
  outline:0;
  background-color: rgba(128, 128, 128, 0.11);
}

ul {
  box-shadow: 0px 4px 9px -5px grey;
  border-radius: 3px;
  border: 1px solid #c3c3c3;
  width: 120px;
  position: absolute;
  top: 100%;
  margin: 2px 0 0 0;
  padding: 5px 0;
  display: none;
  background-color: #fff;
}

ul li {
  list-style: none;
}

li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}

li a:hover {
  background-color: rgba(128, 128, 128, 0.11);
}